* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, button, input, select, textarea, .pure-g [class*="pure-u"] {
    font-family : "Open Sans", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
}

body {
    line-height : 1.5em;
    color : rgb(68, 68, 68);
    font-size : 13px;
}

h1, h2 {
    font-weight: 300;
}

blockquote {
    background: #D6E0EA;
    color: black;
}

legend {
    font-weight: bolder;
}

/*
 * -- LAYOUT STYLES --
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    /*border-bottom: 1px solid rgba(0,0,0,0.1);*/
}

.is-center {
    text-align: center;
}

/*
 * -- MENU STYLES --
 */
.custom-menu-wrapper {
    background-color: rgb(41,62,106);     /* #808080; */
    /*margin-bottom: 2.5em;*/
    white-space: nowrap;
    position: relative;
}

.custom-menu {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

.custom-menu .pure-menu-link,
.custom-menu .pure-menu-heading {
    color: white;
}

.custom-menu .pure-menu-link:hover,
.custom-menu .pure-menu-heading:hover {
    background-color: transparent;
}

.custom-menu-top {
    position: relative;
    padding-top: .5em;
    padding-bottom: .5em;
}

.custom-menu-brand {
    display: block;
    text-align: center;
    position: relative;
}

.custom-menu-toggle {
    width: 44px;
    height: 44px;
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
    display: none;
}

.custom-menu-toggle .bar {
    background-color: white;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 22px;
    right: 12px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-menu-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-menu-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-menu-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.custom-menu-screen {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    height: 3em;
    width: 70em;
    position: absolute;
    top: 0;
    z-index: -1;
}

.custom-menu-tucked .custom-menu-screen {
    -webkit-transform: translateY(-44px);
    -moz-transform: translateY(-44px);
    -ms-transform: translateY(-44px);
    transform: translateY(-44px);
}


/*
 * -- CONTENT STYLES --
*/

.list-in {
    list-style-position: inside;
}

.img-circle {
    border-radius: 50%;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: #084AB6;
}

a:hover {
    text-decoration:none;
    color: #249C00;
    background:rgb(220,220,220);
}

.content {
    padding : 2em;
}

.search * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    /*font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;*/
    margin: 2em 0 1em;
    font-size: 2em;
    line-height: 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    /*color: #1f8dd6;*/
}
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #ccc;
}

.text-blue{
    color:rgb(8,74,182);
}


/* This is the class used for the footer */
.footer {
    background: #444;
    color: #ddd;
}

.footer ul {
    list-style-type: none;
}

.footer a:link, .footer a:visited, .footer a:active {
    text-decoration:none;
    color: #CBCBCB;
}

.footer a:hover {
    text-decoration:none;
    color: #249C00;
    background:rgb(220,220,220);
}

.splash {
width : 90%;
height : 50%;
/*margin : auto;*/
position : absolute;
top : 250px;
left : 0;
/*bottom : 0;
right : 0;*/
text-align : center;
/*vertical-align : middle;
font-family : "omnes-pro", sans-serif;*/
color : white;
font-size : 4em;
font-weight : 100;
line-height : 1em;
/*padding-top : 0.5em;*/
}

.pure-img-responsive {
    background-size : cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    width: 100%;
}

.button-one, a:link.button-one, a:visited.button-one, a:active.button-one,
        .button-two, a:link.button-two, a:visited.button-two, a:active.button-two,
        .button-three, a:link.button-three, a:visited.button-three, a:active.button-three,
        .button-four, a:link.button-four, a:visited.button-four, a:active.button-four,
        .button-five {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-one,
        a:link.button-one, a:visited.button-one, a:active.button-one {
            background: rgb(41,61,106); /* this is a dark blue */
        }

        .button-two,
        a:link.button-two, a:visited.button-two, a:active.button-two {
            background: rgb(59,89,152); /* this is a blue */
        }

        .button-three,
        a:link.button-three, a:visited.button-three, a:active.button-three {
            background: rgb(116,170,247); /* this is an light blue */
        }

        .button-four,
        a:link.button-four, a:visited.button-four, a:active.button-four {
            background: rgb(36,156,0); /* this is a green */
        }

        .button-five {
            background: rgb(182,167,84); /* this is a kaki */
        }


.pricing-tables{max-width:1400px;margin:0 auto;margin-bottom:3.125em;text-align:center;}
.pricing-table{border:1px solid #ddd;margin:0 0.5em 2em;padding:0 0 3em;}
.pricing-table-advisory .pricing-table-header{background:#353356;}
.pricing-table-pro .pricing-table-header{background:#7b6e41;}
.pricing-table-personal .pricing-table-header{background:#7b6441;}
.pricing-table-header{background:#2d3e50;color:#fff;padding-top:1em;padding-bottom:1em;font-size:4em;margin:0;font-weight:100;}
.pricing-table-list{list-style-type:none;margin:0;padding:0;text-align:center;}
.pricing-table-list li{padding:0.8em 0;background:#f7f7f7;border-bottom:1px solid #e7e7e7;}


@media (max-width: 62em) {

    .custom-menu {
        display: block;
    }

    /* \9 is a "CSS hack" specific to Internet Explorer 7, 8, & 9. */
    .custom-menu-toggle {
        display: block;
        display: none\9;
    }

    .custom-menu-bottom {
        position: absolute;
        width: 100%;
        border-top: 1px solid #eee;
        background-color: #808080\9;
        z-index: 100;
    }

    .custom-menu-bottom .pure-menu-link {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s;
    }

    .custom-menu-bottom.custom-menu-tucked .pure-menu-link {
        -webkit-transform: translateX(-140px);
        -moz-transform: translateX(-140px);
        -ms-transform: translateX(-140px);
        transform: translateX(-140px);
        opacity: 0;
        opacity: 1\9;
    }

    .pure-menu-horizontal.custom-menu-tucked {
        z-index: -1;
        top: 45px;
        position: absolute;
        overflow: hidden;
    }
    

	.splash {
	    top : 150px;
	    font-size: 3em;
	}


}


@media (max-width: 48em) {

	body {
	    line-height : 1em;
	    font-size : 10px;
	}

	.splash {
	    top : 80px;
	}
	
}
